/* Custom styles for portfolio slider */
.portfolio-slider .swiper {
  overflow: visible !important;
  padding-bottom: 40px !important;
}

.portfolio-slider .swiper-pagination {
  bottom: -5px !important;
  position: absolute;
}

.portfolio-slider .custom-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #DFE3E7;
  opacity: 1;
  margin: 0 4px;
}

.portfolio-slider .custom-bullet-active {
  background-color: #132B39;
}

.portfolio-slider .swiper-slide {
  height: auto;
}

/* Set fixed height for mobile cards */
.portfolio-slider .swiper-slide > div {
  height: 592px;
} 